<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!-- HEAD FRAGMENT GET FROM ADMIN LAYOUT TEMPLATE...DO NOT CHANGE -->
<head>
<th:block th:replace="/fragments/admin-fragments::admin-head-fragment"></th:block>
<title>LBrand - Admin - Quản Lý Tài Khoản</title>
</head>

<body class="sb-nav-fixed">
	<!-- HEADER FRAGMENT GET FROM ADMIN LAYOUT TEMPLATE...DO NOT CHANGE -->
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark"
		th:replace="/fragments/admin-fragments::admin-header-fragment"></nav>

	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<!-- MENU FRAGMENT GET FROM ADMIN LAYOUT TEMPLATE...DO NOT CHANGE -->
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion"
				th:replace="/fragments/admin-menu::admin-menu-fragment"></nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<!-- MAIN CONTENT - EDIT CONTENT HEAR -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb mb-4">
								<li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
								<li class="breadcrumb-item active">Thêm tài khoản mới</li>
							</ol>
							<th:block th:if="${notification}">
								<div class="toast" role="alert" aria-live="assertive"
									aria-atomic="true" data-autohide="true" data-delay="4000">
									<div class="toast-header">
										<strong class="mr-auto text-primary">Thông báo</strong> <small>1s
											trước</small>
										<button type="button" class="ml-2 mb-1 close"
											data-dismiss="toast" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="toast-body" th:text="${notification}"></div>
								</div>
							</th:block>
							<div class="card mb-4 px-4 py-3">
								<form th:method="POST" th:object="${account}" id="myform"
									th:action="@{/admin/account/new}" enctype="multipart/form-data">
									<div class="form-group avatar">
										<div class="text-center">
											<div id="previewonly"></div>
											<div class="form-group">
												<label for="fileImage" class="btn btn-primary">Ảnh
													đại diện</label>
											</div>
											<input type="file" th:field="*{fileImage}" id="fileImage"
												class="img-circle profile-avatar" name="fileImage"
												style="visibility: hidden;" accept="image/png, image/jpeg"
												 />
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Tên đăng nhập</label> <input type="text"
													th:field="*{username}" th:value="${account.username}"
													class="form-control" name="username" id="username"
													required="required" autofocus="autofocus">
												<th:block th:if="${usererror}">
													<div class="toast" role="alert" aria-live="assertive"
														aria-atomic="true" data-autohide="true" data-delay="6000">
														<div class="toast-body text-danger" th:text="${usererror}">
														</div>
														<button type="button"
															class="ml-2 mb-1 close position-relative"
															data-dismiss="toast" aria-label="Close">
															<span aria-hidden="true"
																class="position-absolute btn_close">&times;</span>
														</button>
													</div>
												</th:block>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Họ và Tên</label> <input type="text"
													th:field="*{fullName}" th:value="*{fullName}"
													class="form-control" name="fullName" id="fullName"
													required="required">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Ngày sinh</label> <input type="date"
													pattern="dd/MM/yyyy" th:field="*{birthday}"
													class="form-control datepicker" name="birthday"
													id="birthday" required="required" >
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Email</label> <input type="email"
													th:field="*{email}" class="form-control" name="email"
													id="email" >
												<th:block th:if="${emailerror}">
													<div class="toast" role="alert" aria-live="assertive"
														aria-atomic="true" data-autohide="true" data-delay="6000">
														<div class="toast-body text-danger"
															th:text="${emailerror}"></div>
														<button type="button"
															class="ml-2 mb-1 close position-relative"
															data-dismiss="toast" aria-label="Close">
															<span aria-hidden="true"
																class="position-absolute btn_close">&times;</span>
														</button>
													</div>
												</th:block>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="password">Mật khẩu</label> <input
													type="password" th:field="*{password}" class="form-control"
													name="password" id="password">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="password_again">Xác nhận mật khẩu</label> <input
													type="password" class="form-control" name="password_again"
													id="password_again">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Điện thoại</label> <input type="text"
													th:field="*{phone}" class="form-control" name="phone"
													id="phone" >
												<th:block th:if="${phoneerror}">
													<div class="toast" role="alert" aria-live="assertive"
														aria-atomic="true" data-autohide="true" data-delay="6000">
														<div class="toast-body text-danger"
															th:text="${phoneerror}"></div>
														<button type="button"
															class="ml-2 mb-1 close position-relative"
															data-dismiss="toast" aria-label="Close">
															<span aria-hidden="true"
																class="position-absolute btn_close">&times;</span>
														</button>
													</div>
												</th:block>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Địa chỉ</label> <input type="text"
													th:field="*{address}" class="form-control" name="address"
													id="address" >
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label>Giới tính</label> <select name="gender"
													th:field="*{gender}" class="form-control">
													<th:block th:each="itemgender:${listGender}">
														<option th:value="${itemgender}" th:text="${itemgender}"></option>
													</th:block>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label>Phân quyền</label> <select name="role"
													th:field="*{roleId}" class="form-control">
													<th:block th:each="itemRole:${listRole}">
														<option th:value="${itemRole.roleId}"
															th:text="${itemRole.roleName}" selected></option>
													</th:block>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label>Trạng thái</label><select name="status"
													th:field="*{status}" class="form-control">
													<th:block th:each="itemStatus:${listStatus}">
														<option th:value="${itemStatus.id}"
															th:text="${itemStatus.status}" selected></option>
													</th:block>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<a th:href="@{/admin/account/list}" class="btn btn-outline-dark">
												Về danh sách </a>
										</div>
										<div class="col-md-6 text-right">
											<button type="submit" class="btn btn-outline-success">Cập
												nhật</button>
										</div>

									</div>
								</form>
							</div>
						</div>
					</div>
				</div>


				<!-- END MAIN CONTENT -->
			</main>


			<!-- FOOTER FRAGMENT GET FROM ADMIN LAYOUT TEMPLATE...DO NOT CHANGE -->
			<footer class="py-4 bg-light mt-auto"
				th:replace="/fragments/admin-fragments::admin-footer-fragment"></footer>
		</div>
	</div>
</body>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/admin/dist/js/scripts.js/>"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
	crossorigin="anonymous"></script>
<script src="/admin/dist/assets/demo/chart-area-demo.js/>"></script>
<script src="/admin/dist/assets/demo/chart-bar-demo.js/>"></script>
<script
	src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="/admin/dist/assets/demo/datatables-demo.js/>"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="/admin/js/insert-account.js"></script>
<script src="/admin/js/vaild-account.js"></script>
<script type="text/javascript">
	$("#fileImage").change(function() {
		filename = this.files[0].name
		console.log(filename);
	});
</script>

<script>
	$(document).ready(function() {
		$('.toast').toast('show');
	});
</script>

</html>