USE [master]
GO
/****** Object:  Database [LBrand]    Script Date: 20/05/2021 03:51:52 CH ******/
CREATE DATABASE [LBrand]
GO
USE [LBrand]
GO
/****** Object:  Table [dbo].[account]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[account_id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](64) NOT NULL,
	[full_name] [nvarchar](50) NOT NULL,
	[birthday] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[date_created] [date] NOT NULL,
	[phone] [varchar](10) NOT NULL,
	[email] [varchar](100) NULL,
	[address] [nvarchar](255) NULL,
	[avatar] [varchar](255) NULL,
	[role_id] [int] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[banner]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banner](
	[banner_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_id] [bigint] NULL,
	[title] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[image_url] [varchar](255) NULL,
	[link_content] [varchar](255) NULL,
	[date_created] [date] NULL,
	[date_begin] [date] NULL,
	[date_end] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking](
	[booking_id] [bigint] IDENTITY(1,1) NOT NULL,
	[account_id] [bigint] NOT NULL,
	[brand_capacity_id] [bigint] NOT NULL,
	[date_created] [datetime] NOT NULL,
	[booking_status_id] [int] NOT NULL,
	[number_of_adults] [int] NOT NULL,
	[number_of_children] [int] NOT NULL,
	[note] [ntext] NULL,
	[contact_info] [nvarchar](255) NOT NULL,
	[date_in] [date] NOT NULL,
	[time_in] [time](7) NOT NULL,
	[payment_method_id] [int] NOT NULL,
	[deposit] [money] NOT NULL,
	[discount] [money] NOT NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_product_detail]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_product_detail](
	[booking_detail_id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[sale_price] [money] NOT NULL,
 CONSTRAINT [PK_order_detail] PRIMARY KEY CLUSTERED 
(
	[booking_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_service_detail]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_service_detail](
	[booking_detail_id] [bigint] IDENTITY(1,1) NOT NULL,
	[service_id] [bigint] NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[sale_price_for_adult] [money] NOT NULL,
	[sale_price_for_children] [money] NOT NULL,
 CONSTRAINT [PK_booking_service_detail] PRIMARY KEY CLUSTERED 
(
	[booking_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_status]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_status](
	[booking_status_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_status_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_order_status] PRIMARY KEY CLUSTERED 
(
	[booking_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[brand_id] [bigint] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](255) NOT NULL,
	[info] [ntext] NOT NULL,
	[date_created] [datetime] NOT NULL,
	[open_time] [time](7) NOT NULL,
	[close_time] [time](7) NOT NULL,
	[avatar] [varchar](255) NOT NULL,
	[service_type_id] [int] NOT NULL,
	[address] [nvarchar](255) NULL,
	[position_lat] [float] NULL,
	[position_lng] [float] NULL,
	[phone] [varchar](11) NULL,
	[tel] [varchar](10) NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_brand] PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brand_account]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand_account](
	[brand_account_id] [bigint] IDENTITY(1,1) NOT NULL,
	[account_id] [bigint] NOT NULL,
	[brand_id] [bigint] NOT NULL,
 CONSTRAINT [PK_agency_account] PRIMARY KEY CLUSTERED 
(
	[brand_account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brand_capacity]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand_capacity](
	[brand_capacity_id] [bigint] IDENTITY(1,1) NOT NULL,
	[brand_id] [bigint] NOT NULL,
	[floor] [int] NOT NULL,
	[slot] [int] NOT NULL,
 CONSTRAINT [PK_agency_capacity] PRIMARY KEY CLUSTERED 
(
	[brand_capacity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brand_comment]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand_comment](
	[brand_comment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[comment_id] [bigint] NOT NULL,
	[booking_id] [bigint] NULL,
	[brand_id] [bigint] NOT NULL,
	[status] [int] NULL,
	[point] [float] NOT NULL,
 CONSTRAINT [PK_brand_comment] PRIMARY KEY CLUSTERED 
(
	[brand_comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brand_image]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand_image](
	[image_id] [bigint] IDENTITY(1,1) NOT NULL,
	[image_url] [varchar](255) NULL,
	[brand_id] [bigint] NULL,
 CONSTRAINT [PK_brand_image] PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brand_interaction]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand_interaction](
	[interaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[account_id] [bigint] NOT NULL,
	[brand_id] [bigint] NOT NULL,
	[favourite] [bit] NULL,
	[last_view_date] [datetime] NOT NULL,
 CONSTRAINT [PK_product_interaction] PRIMARY KEY CLUSTERED 
(
	[interaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brand_service_type]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand_service_type](
	[service_type_id] [int] IDENTITY(1,1) NOT NULL,
	[service_type_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_service_type] PRIMARY KEY CLUSTERED 
(
	[service_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[comment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[comment_content] [ntext] NOT NULL,
	[date_created] [datetime] NOT NULL,
	[parents_comment_id] [bigint] NULL,
	[account_id] [bigint] NOT NULL,
 CONSTRAINT [PK_product_comment] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment_image]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment_image](
	[image_id] [bigint] IDENTITY(1,1) NOT NULL,
	[image_url] [varchar](255) NOT NULL,
	[comment_id] [bigint] NOT NULL,
 CONSTRAINT [PK_comment_image] PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discount_code]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discount_code](
	[discount_code_id] [bigint] IDENTITY(1,1) NOT NULL,
	[discount_code_name] [nvarchar](255) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[info] [nvarchar](255) NULL,
	[brand_id] [bigint] NULL,
	[min_price] [money] NOT NULL,
	[percent_discount] [int] NOT NULL,
	[max_discount] [money] NOT NULL,
	[date_created] [datetime] NOT NULL,
	[date_begin] [datetime] NOT NULL,
	[date_end] [datetime] NOT NULL,
 CONSTRAINT [PK_discount_code] PRIMARY KEY CLUSTERED 
(
	[discount_code_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice](
	[invoice_id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[txn_ref] [varchar](255) NOT NULL,
	[amount] [money] NOT NULL,
	[bank_code] [varchar](50) NULL,
	[pay_date] [datetime] NOT NULL,
	[order_info] [varchar](255) NOT NULL,
	[response_code] [varchar](50) NOT NULL,
	[transaction_no] [varchar](100) NOT NULL,
 CONSTRAINT [PK_invoice] PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_method]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_method](
	[payment_method_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_method_name] [nvarchar](100) NOT NULL,
	[info] [ntext] NULL,
	[image_url] [varchar](255) NULL,
 CONSTRAINT [PK_payment_method] PRIMARY KEY CLUSTERED 
(
	[payment_method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persistent_Logins]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persistent_Logins](
	[username] [varchar](50) NULL,
	[series] [varchar](64) NOT NULL,
	[token] [varchar](64) NULL,
	[last_used] [varchar](30) NULL,
 CONSTRAINT [PK_Persistent_Logins] PRIMARY KEY CLUSTERED 
(
	[series] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](255) NOT NULL,
	[avatar] [varchar](255) NULL,
	[category_id] [int] NOT NULL,
	[product_type_id] [int] NULL,
	[product_unit_id] [int] NULL,
	[date_created] [datetime] NOT NULL,
	[description] [ntext] NOT NULL,
	[brand_id] [bigint] NOT NULL,
	[price] [money] NOT NULL,
	[sale_price] [money] NOT NULL,
	[number_of_people] [int] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_category]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_code] [varchar](50) NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_comment]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_comment](
	[product_comment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[comment_id] [bigint] NOT NULL,
	[booking_detail_id] [bigint] NULL,
	[product_id] [bigint] NOT NULL,
	[status] [int] NULL,
	[point] [float] NOT NULL,
 CONSTRAINT [PK_product_comment_1] PRIMARY KEY CLUSTERED 
(
	[product_comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_image]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_image](
	[image_id] [bigint] IDENTITY(1,1) NOT NULL,
	[image_url] [varchar](255) NOT NULL,
	[product_id] [bigint] NOT NULL,
 CONSTRAINT [PK_product_image] PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_interaction]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_interaction](
	[interaction_id] [bigint] NOT NULL,
	[account_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
	[favourite] [bit] NOT NULL,
	[last_view_date] [datetime] NOT NULL,
 CONSTRAINT [PK_product_interaction_1] PRIMARY KEY CLUSTERED 
(
	[interaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_type]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_type](
	[product_type_id] [int] IDENTITY(1,1) NOT NULL,
	[product_type_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_product_type] PRIMARY KEY CLUSTERED 
(
	[product_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_unit]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_unit](
	[product_unit_id] [int] IDENTITY(1,1) NOT NULL,
	[product_unit_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_product_unit] PRIMARY KEY CLUSTERED 
(
	[product_unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_code] [varchar](50) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_role_1] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service](
	[service_id] [bigint] IDENTITY(1,1) NOT NULL,
	[service_name] [nvarchar](255) NOT NULL,
	[avatar] [varchar](255) NULL,
	[brand_id] [bigint] NOT NULL,
	[category_id] [int] NULL,
	[price_for_adult] [money] NOT NULL,
	[sale_price_for_adult] [money] NOT NULL,
	[price_for_children] [money] NULL,
	[sale_price_for_children] [money] NULL,
	[date_created] [datetime] NOT NULL,
	[description] [ntext] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_service_1] PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_category]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](50) NULL,
	[category_code] [varchar](50) NULL,
 CONSTRAINT [PK_service_category] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_comment]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_comment](
	[service_comment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_detail_id] [bigint] NULL,
	[service_id] [bigint] NOT NULL,
	[comment_id] [bigint] NOT NULL,
	[status] [int] NULL,
	[point] [float] NOT NULL,
 CONSTRAINT [PK_service_comment] PRIMARY KEY CLUSTERED 
(
	[service_comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_image]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_image](
	[image_id] [bigint] IDENTITY(1,1) NOT NULL,
	[image_url] [varchar](255) NOT NULL,
	[service_id] [bigint] NOT NULL,
 CONSTRAINT [PK_service_image] PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_interaction]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_interaction](
	[interaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[service_id] [bigint] NOT NULL,
	[account_id] [bigint] NOT NULL,
	[favourite] [bit] NULL,
	[last_view_date] [datetime] NOT NULL,
 CONSTRAINT [PK_service_interaction] PRIMARY KEY CLUSTERED 
(
	[interaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[temp_month]    Script Date: 20/05/2021 03:51:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_month](
	[month] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([account_id], [username], [password], [full_name], [birthday], [gender], [date_created], [phone], [email], [address], [avatar], [role_id], [status]) VALUES (1, N'admin', N'123456', N'Hoàng Quốc Khánh', CAST(N'1999-09-02' AS Date), N'Nam', CAST(N'2021-04-23' AS Date), N'0389829122', N'hqk@gmail.com', N'Huế, Việt Nam', N'image/account/avt1.jpg', 2, 1)
INSERT [dbo].[account] ([account_id], [username], [password], [full_name], [birthday], [gender], [date_created], [phone], [email], [address], [avatar], [role_id], [status]) VALUES (2, N'user1', N'123456', N'Tạ Quốc Thiên', CAST(N'1999-03-17' AS Date), N'Nam', CAST(N'2021-04-23' AS Date), N'0389829123', N'lml@gmail.com', N'Tp.HCM, Việt Nam', N'image/account/avt1.jpg', 1, 1)
INSERT [dbo].[account] ([account_id], [username], [password], [full_name], [birthday], [gender], [date_created], [phone], [email], [address], [avatar], [role_id], [status]) VALUES (3, N'brand1-admin', N'123456', N'Trần Thu Thu', CAST(N'1999-02-12' AS Date), N'Nữ', CAST(N'2021-04-24' AS Date), N'0389829124', N'abc@gmail.com', N'Hà Nội, Việt Nam', N'image/account/avt2.jpg', 3, 1)
SET IDENTITY_INSERT [dbo].[account] OFF
GO
SET IDENTITY_INSERT [dbo].[banner] ON 

INSERT [dbo].[banner] ([banner_id], [brand_id], [title], [description], [image_url], [link_content], [date_created], [date_begin], [date_end]) VALUES (1, 6, N'Hoàng Yến Ẩm Thực Truyền Thống', N'Món ăn sáng tạo và mang đậm dấu ấn
 riêng của các đầu bếp tại Quán Mộc, nhưng vẫn hài hoà với hương
 vị ẩm thực Việt truyền thống.', N'image/banner/bg-large-6.jpg', N'/brand/6', CAST(N'2021-04-01' AS Date), CAST(N'2021-04-01' AS Date), CAST(N'2021-12-31' AS Date))
INSERT [dbo].[banner] ([banner_id], [brand_id], [title], [description], [image_url], [link_content], [date_created], [date_begin], [date_end]) VALUES (2, 4, N'Wrap & Row Nét Đặc Trưng Trong Văn Hoá Ẩm Thực Việt', N'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...', N'image/banner/bg-large-5.jpg', N'/brand/4', CAST(N'2021-04-01' AS Date), CAST(N'2021-04-01' AS Date), CAST(N'2021-12-31' AS Date))
INSERT [dbo].[banner] ([banner_id], [brand_id], [title], [description], [image_url], [link_content], [date_created], [date_begin], [date_end]) VALUES (3, 1, N'San Fu Lo Buffet Nướng Cay Giá Ưu Đãi', N'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words...', N'image/banner/bg-large-9.jpg', N'/brand/1', CAST(N'2021-04-01' AS Date), CAST(N'2021-04-01' AS Date), CAST(N'2021-12-31' AS Date))
SET IDENTITY_INSERT [dbo].[banner] OFF
GO
SET IDENTITY_INSERT [dbo].[booking] ON 

INSERT [dbo].[booking] ([booking_id], [account_id], [brand_capacity_id], [date_created], [booking_status_id], [number_of_adults], [number_of_children], [note], [contact_info], [date_in], [time_in], [payment_method_id], [deposit], [discount]) VALUES (1, 1, 1, CAST(N'2021-05-01T00:00:00.000' AS DateTime), 1, 2, 0, N'Gọi cho tôi trong giờ hành chính', N'Hoàng Quốc Khánh, 0389819822', CAST(N'2021-05-01' AS Date), CAST(N'20:00:00' AS Time), 1, 0.0000, 50000.0000)
INSERT [dbo].[booking] ([booking_id], [account_id], [brand_capacity_id], [date_created], [booking_status_id], [number_of_adults], [number_of_children], [note], [contact_info], [date_in], [time_in], [payment_method_id], [deposit], [discount]) VALUES (2, 1, 3, CAST(N'2021-05-15T00:00:00.000' AS DateTime), 2, 2, 2, N'Gọi cho tôi trong giờ hành chính', N'Hoàng Quốc Khánh, 0389819822', CAST(N'2021-05-01' AS Date), CAST(N'17:00:00' AS Time), 1, 0.0000, 50000.0000)
INSERT [dbo].[booking] ([booking_id], [account_id], [brand_capacity_id], [date_created], [booking_status_id], [number_of_adults], [number_of_children], [note], [contact_info], [date_in], [time_in], [payment_method_id], [deposit], [discount]) VALUES (3, 1, 4, CAST(N'2021-05-18T00:00:00.000' AS DateTime), 3, 2, 0, N'Gọi cho tôi trong giờ hành chính', N'Hoàng Quốc Khánh, 0389819822', CAST(N'2021-05-01' AS Date), CAST(N'17:00:00' AS Time), 1, 0.0000, 20000.0000)
SET IDENTITY_INSERT [dbo].[booking] OFF
GO
SET IDENTITY_INSERT [dbo].[booking_product_detail] ON 

INSERT [dbo].[booking_product_detail] ([booking_detail_id], [product_id], [booking_id], [quantity], [sale_price]) VALUES (1, 1, 1, 2, 100000.0000)
INSERT [dbo].[booking_product_detail] ([booking_detail_id], [product_id], [booking_id], [quantity], [sale_price]) VALUES (4, 3, 1, 2, 100000.0000)
INSERT [dbo].[booking_product_detail] ([booking_detail_id], [product_id], [booking_id], [quantity], [sale_price]) VALUES (5, 4, 1, 1, 100000.0000)
SET IDENTITY_INSERT [dbo].[booking_product_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[booking_service_detail] ON 

INSERT [dbo].[booking_service_detail] ([booking_detail_id], [service_id], [booking_id], [sale_price_for_adult], [sale_price_for_children]) VALUES (1, 1, 1, 95000.0000, 70000.0000)
INSERT [dbo].[booking_service_detail] ([booking_detail_id], [service_id], [booking_id], [sale_price_for_adult], [sale_price_for_children]) VALUES (2, 1, 9, 95000.0000, 70000.0000)
INSERT [dbo].[booking_service_detail] ([booking_detail_id], [service_id], [booking_id], [sale_price_for_adult], [sale_price_for_children]) VALUES (3, 1, 17, 100000.0000, 75000.0000)
SET IDENTITY_INSERT [dbo].[booking_service_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[booking_status] ON 

INSERT [dbo].[booking_status] ([booking_status_id], [booking_status_name]) VALUES (1, N'Chờ xác nhận')
INSERT [dbo].[booking_status] ([booking_status_id], [booking_status_name]) VALUES (5, N'Chờ xác nhận, chưa thanh toán đặt cọc')
INSERT [dbo].[booking_status] ([booking_status_id], [booking_status_name]) VALUES (6, N'Chờ xác nhận, đã thanh toán đặt cọc')
SET IDENTITY_INSERT [dbo].[booking_status] OFF
GO
SET IDENTITY_INSERT [dbo].[brand] ON 

SET IDENTITY_INSERT [dbo].[brand] OFF
GO
SET IDENTITY_INSERT [dbo].[brand_account] ON 

INSERT [dbo].[brand_account] ([brand_account_id], [account_id], [brand_id]) VALUES (1, 3, 1)
INSERT [dbo].[brand_account] ([brand_account_id], [account_id], [brand_id]) VALUES (2, 4, 3)
SET IDENTITY_INSERT [dbo].[brand_account] OFF
GO
SET IDENTITY_INSERT [dbo].[brand_capacity] ON 

INSERT [dbo].[brand_capacity] ([brand_capacity_id], [brand_id], [floor], [slot]) VALUES (1, 1, 1, 50)
INSERT [dbo].[brand_capacity] ([brand_capacity_id], [brand_id], [floor], [slot]) VALUES (2, 1, 2, 40)
INSERT [dbo].[brand_capacity] ([brand_capacity_id], [brand_id], [floor], [slot]) VALUES (3, 3, 1, 50)
SET IDENTITY_INSERT [dbo].[brand_capacity] OFF
GO
SET IDENTITY_INSERT [dbo].[brand_comment] ON 

INSERT [dbo].[brand_comment] ([brand_comment_id], [comment_id], [booking_id], [brand_id], [status], [point]) VALUES (1, 14, NULL, 1, 0, 9)
INSERT [dbo].[brand_comment] ([brand_comment_id], [comment_id], [booking_id], [brand_id], [status], [point]) VALUES (2, 15, NULL, 1, 0, 10)
INSERT [dbo].[brand_comment] ([brand_comment_id], [comment_id], [booking_id], [brand_id], [status], [point]) VALUES (3, 16, NULL, 1, 1, 8)
SET IDENTITY_INSERT [dbo].[brand_comment] OFF
GO
SET IDENTITY_INSERT [dbo].[brand_image] ON 

INSERT [dbo].[brand_image] ([image_id], [image_url], [brand_id]) VALUES (1, N'image/brand/6.jpg', 1)
INSERT [dbo].[brand_image] ([image_id], [image_url], [brand_id]) VALUES (2, N'image/brand/2.jpg', 3)
INSERT [dbo].[brand_image] ([image_id], [image_url], [brand_id]) VALUES (3, N'image/brand/3.jpg', 4)
SET IDENTITY_INSERT [dbo].[brand_image] OFF
GO
SET IDENTITY_INSERT [dbo].[brand_interaction] ON 

INSERT [dbo].[brand_interaction] ([interaction_id], [account_id], [brand_id], [favourite], [last_view_date]) VALUES (1, 1, 1, 1, CAST(N'2021-05-19T11:05:05.620' AS DateTime))
INSERT [dbo].[brand_interaction] ([interaction_id], [account_id], [brand_id], [favourite], [last_view_date]) VALUES (2, 1, 3, 0, CAST(N'2021-05-18T16:17:18.130' AS DateTime))
INSERT [dbo].[brand_interaction] ([interaction_id], [account_id], [brand_id], [favourite], [last_view_date]) VALUES (3, 1, 4, 1, CAST(N'2021-05-14T16:21:06.870' AS DateTime))
SET IDENTITY_INSERT [dbo].[brand_interaction] OFF
GO
SET IDENTITY_INSERT [dbo].[brand_service_type] ON 

INSERT [dbo].[brand_service_type] ([service_type_id], [service_type_name]) VALUES (1, N'Gọi món Việt')
INSERT [dbo].[brand_service_type] ([service_type_id], [service_type_name]) VALUES (2, N'Gọi món Nhật')
INSERT [dbo].[brand_service_type] ([service_type_id], [service_type_name]) VALUES (3, N'Gọi món Pháp')
SET IDENTITY_INSERT [dbo].[brand_service_type] OFF
GO
SET IDENTITY_INSERT [dbo].[comment] ON 

INSERT [dbo].[comment] ([comment_id], [comment_content], [date_created], [parents_comment_id], [account_id]) VALUES (1, N'Ahihi đồ ngok', CAST(N'2021-05-05T16:12:16.233' AS DateTime), 1, 1)
INSERT [dbo].[comment] ([comment_id], [comment_content], [date_created], [parents_comment_id], [account_id]) VALUES (2, N'Dịch vụ tốt', CAST(N'2021-05-01T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[comment] ([comment_id], [comment_content], [date_created], [parents_comment_id], [account_id]) VALUES (3, N'Dịch vụ tốt', CAST(N'2021-05-01T00:00:00.000' AS DateTime), NULL, 3)
SET IDENTITY_INSERT [dbo].[comment] OFF
GO
SET IDENTITY_INSERT [dbo].[discount_code] ON 

INSERT [dbo].[discount_code] ([discount_code_id], [discount_code_name], [code], [info], [brand_id], [min_price], [percent_discount], [max_discount], [date_created], [date_begin], [date_end]) VALUES (1, N'San Fu Lo - Giảm Giá 1', N'GIAMGIA1', N'Đây là mã khuyến mãi giảm giá cho ...', 1, 100000.0000, 10, 100000.0000, CAST(N'2021-04-22T00:00:00.000' AS DateTime), CAST(N'2021-04-22T00:00:00.000' AS DateTime), CAST(N'2025-12-31T00:00:00.000' AS DateTime))
INSERT [dbo].[discount_code] ([discount_code_id], [discount_code_name], [code], [info], [brand_id], [min_price], [percent_discount], [max_discount], [date_created], [date_begin], [date_end]) VALUES (3, N'Brand - Giảm Giá 1', N'GIAMGIA1', N'Đây là mã khuyến mãi giảm giá cho ...', 3, 100000.0000, 10, 100000.0000, CAST(N'2021-04-22T00:00:00.000' AS DateTime), CAST(N'2021-04-22T00:00:00.000' AS DateTime), CAST(N'2025-12-31T00:00:00.000' AS DateTime))
INSERT [dbo].[discount_code] ([discount_code_id], [discount_code_name], [code], [info], [brand_id], [min_price], [percent_discount], [max_discount], [date_created], [date_begin], [date_end]) VALUES (4, N'San Fu Lo - Noel Code', N'NOEL2021', N'Đây là mã khuyến mãi giảm giá cho mùa noel', 1, 100000.0000, 10, 100000.0000, CAST(N'2021-04-22T00:00:00.000' AS DateTime), CAST(N'2021-12-22T00:00:00.000' AS DateTime), CAST(N'2021-12-25T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[discount_code] OFF
GO
SET IDENTITY_INSERT [dbo].[invoice] ON 

INSERT [dbo].[invoice] ([invoice_id], [booking_id], [txn_ref], [amount], [bank_code], [pay_date], [order_info], [response_code], [transaction_no]) VALUES (1, 48, N'48', 387500.0000, N'NCB', CAST(N'2021-05-18T03:15:47.797' AS DateTime), N'Thanh toan tien dat coc cho don dat ban: #48, thoi diem: Tue May 18 03:14:50 ICT 2021', N'00', N'13506134')
INSERT [dbo].[invoice] ([invoice_id], [booking_id], [txn_ref], [amount], [bank_code], [pay_date], [order_info], [response_code], [transaction_no]) VALUES (2, 50, N'50', 387500.0000, N'NCB', CAST(N'2021-05-18T04:08:56.983' AS DateTime), N'Thanh toan tien dat coc cho don dat ban: #50, thoi diem: 04:08 18/05/2021', N'00', N'13506136')
SET IDENTITY_INSERT [dbo].[invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[payment_method] ON 

INSERT [dbo].[payment_method] ([payment_method_id], [payment_method_name], [info], [image_url]) VALUES (1, N'Thanh toán tại nhà hàng', NULL, NULL)
INSERT [dbo].[payment_method] ([payment_method_id], [payment_method_name], [info], [image_url]) VALUES (2, N'Chờ gọi điện xác nhận trước', NULL, NULL)
INSERT [dbo].[payment_method] ([payment_method_id], [payment_method_name], [info], [image_url]) VALUES (3, N'Thẻ ATM nội địa/Internet Banking', NULL, NULL)
SET IDENTITY_INSERT [dbo].[payment_method] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([product_id], [product_name], [avatar], [category_id], [product_type_id], [product_unit_id], [date_created], [description], [brand_id], [price], [sale_price], [number_of_people], [status]) VALUES (1, N'Đồ uống 1+1 bằng 2...hihi', N'image/product/42.jpg', 2, 4, 2, CAST(N'2020-12-31T00:00:00.000' AS DateTime), N'<h2>Giới thiệu</h2>

<p>Đồ uống 1 c&oacute; chắc l&agrave; ngon đ&acirc;y</p>
', 1, 199000.0000, 175000.0000, 1, 1)
INSERT [dbo].[product] ([product_id], [product_name], [avatar], [category_id], [product_type_id], [product_unit_id], [date_created], [description], [brand_id], [price], [sale_price], [number_of_people], [status]) VALUES (3, N'Món khai vị 3', N'image/product/3.jpg', 9, 1, 14, CAST(N'2020-12-31T00:00:00.000' AS DateTime), N'Món khai vị 1', 1, 150000.0000, 150000.0000, 4, 1)
INSERT [dbo].[product] ([product_id], [product_name], [avatar], [category_id], [product_type_id], [product_unit_id], [date_created], [description], [brand_id], [price], [sale_price], [number_of_people], [status]) VALUES (4, N'Món chính 1', N'image/product/4.jpg', 6, 2, 14, CAST(N'2020-12-31T00:00:00.000' AS DateTime), N'Món chính 1', 1, 150000.0000, 150000.0000, 4, 1)
GO
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[product_category] ON 

INSERT [dbo].[product_category] ([category_id], [category_code], [category_name]) VALUES (1, N'bia', N'Bia')
INSERT [dbo].[product_category] ([category_id], [category_code], [category_name]) VALUES (2, N'ruou-vang', N'Rượu Vang')
INSERT [dbo].[product_category] ([category_id], [category_code], [category_name]) VALUES (3, N'whisky', N'Whisky')
SET IDENTITY_INSERT [dbo].[product_category] OFF
GO
SET IDENTITY_INSERT [dbo].[product_comment] ON 

INSERT [dbo].[product_comment] ([product_comment_id], [comment_id], [booking_detail_id], [product_id], [status], [point]) VALUES (1, 10, NULL, 1, 0, 8)
INSERT [dbo].[product_comment] ([product_comment_id], [comment_id], [booking_detail_id], [product_id], [status], [point]) VALUES (4, 11, NULL, 1, 0, 9)
INSERT [dbo].[product_comment] ([product_comment_id], [comment_id], [booking_detail_id], [product_id], [status], [point]) VALUES (5, 12, NULL, 1, 0, 8)
SET IDENTITY_INSERT [dbo].[product_comment] OFF
GO
SET IDENTITY_INSERT [dbo].[product_image] ON 

INSERT [dbo].[product_image] ([image_id], [image_url], [product_id]) VALUES (1, N'image/product/34.jpg', 1)
INSERT [dbo].[product_image] ([image_id], [image_url], [product_id]) VALUES (2, N'image/product/1.jpg', 3)
INSERT [dbo].[product_image] ([image_id], [image_url], [product_id]) VALUES (3, N'image/product/2.jpg', 4)
GO
SET IDENTITY_INSERT [dbo].[product_image] OFF
GO
SET IDENTITY_INSERT [dbo].[product_type] ON 

INSERT [dbo].[product_type] ([product_type_id], [product_type_name]) VALUES (4, N'Đồ uống')
INSERT [dbo].[product_type] ([product_type_id], [product_type_name]) VALUES (2, N'Món chính')
INSERT [dbo].[product_type] ([product_type_id], [product_type_name]) VALUES (1, N'Món khai vị')
SET IDENTITY_INSERT [dbo].[product_type] OFF
GO
SET IDENTITY_INSERT [dbo].[product_unit] ON 

INSERT [dbo].[product_unit] ([product_unit_id], [product_unit_name]) VALUES (8, N'Cái')
INSERT [dbo].[product_unit] ([product_unit_id], [product_unit_name]) VALUES (5, N'Chai')
INSERT [dbo].[product_unit] ([product_unit_id], [product_unit_name]) VALUES (6, N'Cốc')
SET IDENTITY_INSERT [dbo].[product_unit] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([role_id], [role_code], [role_name]) VALUES (1, N'USER', N'User')
INSERT [dbo].[role] ([role_id], [role_code], [role_name]) VALUES (2, N'ADMIN', N'Admin')
INSERT [dbo].[role] ([role_id], [role_code], [role_name]) VALUES (3, N'BRAND_ADMIN', N'Brand Admin')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[service] ON 

SET IDENTITY_INSERT [dbo].[service] OFF
GO
SET IDENTITY_INSERT [dbo].[service_category] ON 

INSERT [dbo].[service_category] ([category_id], [category_name], [category_code]) VALUES (1, N'Buffet', N'buffet')
INSERT [dbo].[service_category] ([category_id], [category_name], [category_code]) VALUES (2, N'Sinh Nhật', N'sinh-nhat')
INSERT [dbo].[service_category] ([category_id], [category_name], [category_code]) VALUES (3, N'Cưới Hỏi', N'cuoi-hoi')
SET IDENTITY_INSERT [dbo].[service_category] OFF
GO
SET IDENTITY_INSERT [dbo].[service_comment] ON 

INSERT [dbo].[service_comment] ([service_comment_id], [booking_detail_id], [service_id], [comment_id], [status], [point]) VALUES (1, NULL, 1, 1, 0, 9)
INSERT [dbo].[service_comment] ([service_comment_id], [booking_detail_id], [service_id], [comment_id], [status], [point]) VALUES (2, NULL, 1, 2, 0, 8)
INSERT [dbo].[service_comment] ([service_comment_id], [booking_detail_id], [service_id], [comment_id], [status], [point]) VALUES (3, NULL, 1, 3, 0, 7)
SET IDENTITY_INSERT [dbo].[service_comment] OFF
GO
SET IDENTITY_INSERT [dbo].[service_image] ON 

INSERT [dbo].[service_image] ([image_id], [image_url], [service_id]) VALUES (1, N'image/service/1.jpg', 1)
INSERT [dbo].[service_image] ([image_id], [image_url], [service_id]) VALUES (2, N'image/service/2.jpg', 1)
INSERT [dbo].[service_image] ([image_id], [image_url], [service_id]) VALUES (3, N'image/service/3.jpg', 1)
SET IDENTITY_INSERT [dbo].[service_image] OFF
GO
SET IDENTITY_INSERT [dbo].[service_interaction] ON 

INSERT [dbo].[service_interaction] ([interaction_id], [service_id], [account_id], [favourite], [last_view_date]) VALUES (1, 1, 1, 1, CAST(N'2021-05-17T12:02:46.367' AS DateTime))
INSERT [dbo].[service_interaction] ([interaction_id], [service_id], [account_id], [favourite], [last_view_date]) VALUES (2, 2, 1, 1, CAST(N'2021-05-03T02:43:47.913' AS DateTime))
INSERT [dbo].[service_interaction] ([interaction_id], [service_id], [account_id], [favourite], [last_view_date]) VALUES (3, 3, 1, 1, CAST(N'2021-05-17T12:04:53.173' AS DateTime))
SET IDENTITY_INSERT [dbo].[service_interaction] OFF
GO
INSERT [dbo].[temp_month] ([month]) VALUES (1)
INSERT [dbo].[temp_month] ([month]) VALUES (2)
INSERT [dbo].[temp_month] ([month]) VALUES (3)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_account]    Script Date: 20/05/2021 03:51:53 CH ******/
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [IX_account] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_account_1]    Script Date: 20/05/2021 03:51:53 CH ******/
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [IX_account_1] UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_account_2]    Script Date: 20/05/2021 03:51:53 CH ******/
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [IX_account_2] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_booking_status]    Script Date: 20/05/2021 03:51:53 CH ******/
ALTER TABLE [dbo].[booking_status] ADD  CONSTRAINT [IX_booking_status] UNIQUE NONCLUSTERED 
(
	[booking_status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_agency_capacity]    Script Date: 20/05/2021 03:51:53 CH ******/
ALTER TABLE [dbo].[brand_capacity] ADD  CONSTRAINT [IX_agency_capacity] UNIQUE NONCLUSTERED 
(
	[brand_id] ASC,
	[floor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_payment_method]    Script Date: 20/05/2021 03:51:53 CH ******/
ALTER TABLE [dbo].[payment_method] ADD  CONSTRAINT [IX_payment_method] UNIQUE NONCLUSTERED 
(
	[payment_method_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_product_category]    Script Date: 20/05/2021 03:51:53 CH ******/
ALTER TABLE [dbo].[product_category] ADD  CONSTRAINT [IX_product_category] UNIQUE NONCLUSTERED 
(
	[category_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_product_category_1]    Script Date: 20/05/2021 03:51:53 CH ******/
ALTER TABLE [dbo].[product_category] ADD  CONSTRAINT [IX_product_category_1] UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_product_type]    Script Date: 20/05/2021 03:51:53 CH ******/
ALTER TABLE [dbo].[product_type] ADD  CONSTRAINT [IX_product_type] UNIQUE NONCLUSTERED 
(
	[product_type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_product_unit]    Script Date: 20/05/2021 03:51:53 CH ******/
ALTER TABLE [dbo].[product_unit] ADD  CONSTRAINT [IX_product_unit] UNIQUE NONCLUSTERED 
(
	[product_unit_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_role]    Script Date: 20/05/2021 03:51:53 CH ******/
ALTER TABLE [dbo].[role] ADD  CONSTRAINT [IX_role] UNIQUE NONCLUSTERED 
(
	[role_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_role_1]    Script Date: 20/05/2021 03:51:53 CH ******/
ALTER TABLE [dbo].[role] ADD  CONSTRAINT [IX_role_1] UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [DF_account_date_created]  DEFAULT (getdate()) FOR [date_created]
GO
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [DF_account_role_id]  DEFAULT ((1)) FOR [role_id]
GO
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [DF_account_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[booking] ADD  CONSTRAINT [DF_booking_date_created]  DEFAULT (getdate()) FOR [date_created]
GO
ALTER TABLE [dbo].[booking] ADD  CONSTRAINT [DF_booking_deposit]  DEFAULT ((0)) FOR [deposit]
GO
ALTER TABLE [dbo].[booking] ADD  CONSTRAINT [DF_booking_discount]  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[brand] ADD  CONSTRAINT [DF_brand_date_created]  DEFAULT (getdate()) FOR [date_created]
GO
ALTER TABLE [dbo].[brand] ADD  CONSTRAINT [DF_brand_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[brand_comment] ADD  CONSTRAINT [DF_brand_comment_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[comment] ADD  CONSTRAINT [DF_comment_date_created]  DEFAULT (getdate()) FOR [date_created]
GO
ALTER TABLE [dbo].[discount_code] ADD  CONSTRAINT [DF_discount_code_date_created]  DEFAULT (getdate()) FOR [date_created]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_date_created]  DEFAULT (getdate()) FOR [date_created]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[product_comment] ADD  CONSTRAINT [DF_product_comment_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[service] ADD  CONSTRAINT [DF_service_date_created]  DEFAULT (getdate()) FOR [date_created]
GO
ALTER TABLE [dbo].[service_comment] ADD  CONSTRAINT [DF_service_comment_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [FK_account_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([role_id])
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [FK_account_role]
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD  CONSTRAINT [FK_booking_agency_capacity] FOREIGN KEY([brand_capacity_id])
REFERENCES [dbo].[brand_capacity] ([brand_capacity_id])
GO
ALTER TABLE [dbo].[booking] CHECK CONSTRAINT [FK_booking_agency_capacity]
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD  CONSTRAINT [FK_order_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[booking] CHECK CONSTRAINT [FK_order_account]
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD  CONSTRAINT [FK_order_order_status] FOREIGN KEY([booking_status_id])
REFERENCES [dbo].[booking_status] ([booking_status_id])
GO
ALTER TABLE [dbo].[booking] CHECK CONSTRAINT [FK_order_order_status]
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD  CONSTRAINT [FK_order_payment_method] FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[payment_method] ([payment_method_id])
GO
ALTER TABLE [dbo].[booking] CHECK CONSTRAINT [FK_order_payment_method]
GO
ALTER TABLE [dbo].[booking_product_detail]  WITH CHECK ADD  CONSTRAINT [FK_order_detail_order] FOREIGN KEY([booking_id])
REFERENCES [dbo].[booking] ([booking_id])
GO
ALTER TABLE [dbo].[booking_product_detail] CHECK CONSTRAINT [FK_order_detail_order]
GO
ALTER TABLE [dbo].[booking_product_detail]  WITH CHECK ADD  CONSTRAINT [FK_order_detail_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[booking_product_detail] CHECK CONSTRAINT [FK_order_detail_product]
GO
ALTER TABLE [dbo].[booking_service_detail]  WITH CHECK ADD  CONSTRAINT [FK_booking_service_detail_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[booking] ([booking_id])
GO
ALTER TABLE [dbo].[booking_service_detail] CHECK CONSTRAINT [FK_booking_service_detail_booking]
GO
ALTER TABLE [dbo].[booking_service_detail]  WITH CHECK ADD  CONSTRAINT [FK_booking_service_detail_service1] FOREIGN KEY([service_id])
REFERENCES [dbo].[service] ([service_id])
GO
ALTER TABLE [dbo].[booking_service_detail] CHECK CONSTRAINT [FK_booking_service_detail_service1]
GO
ALTER TABLE [dbo].[brand]  WITH CHECK ADD  CONSTRAINT [FK_brand_service_type] FOREIGN KEY([service_type_id])
REFERENCES [dbo].[brand_service_type] ([service_type_id])
GO
ALTER TABLE [dbo].[brand] CHECK CONSTRAINT [FK_brand_service_type]
GO
ALTER TABLE [dbo].[brand_account]  WITH CHECK ADD  CONSTRAINT [FK_agency_account_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[brand_account] CHECK CONSTRAINT [FK_agency_account_account]
GO
ALTER TABLE [dbo].[brand_account]  WITH CHECK ADD  CONSTRAINT [FK_brand_account_brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([brand_id])
GO
ALTER TABLE [dbo].[brand_account] CHECK CONSTRAINT [FK_brand_account_brand]
GO
ALTER TABLE [dbo].[brand_capacity]  WITH CHECK ADD  CONSTRAINT [FK_brand_capacity_brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([brand_id])
GO
ALTER TABLE [dbo].[brand_capacity] CHECK CONSTRAINT [FK_brand_capacity_brand]
GO
ALTER TABLE [dbo].[brand_comment]  WITH CHECK ADD  CONSTRAINT [FK_brand_comment_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[booking] ([booking_id])
GO
ALTER TABLE [dbo].[brand_comment] CHECK CONSTRAINT [FK_brand_comment_booking]
GO
ALTER TABLE [dbo].[brand_comment]  WITH CHECK ADD  CONSTRAINT [FK_brand_comment_brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([brand_id])
GO
ALTER TABLE [dbo].[brand_comment] CHECK CONSTRAINT [FK_brand_comment_brand]
GO
ALTER TABLE [dbo].[brand_comment]  WITH CHECK ADD  CONSTRAINT [FK_brand_comment_comment] FOREIGN KEY([comment_id])
REFERENCES [dbo].[comment] ([comment_id])
GO
ALTER TABLE [dbo].[brand_comment] CHECK CONSTRAINT [FK_brand_comment_comment]
GO
ALTER TABLE [dbo].[brand_image]  WITH CHECK ADD  CONSTRAINT [FK_brand_image_brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([brand_id])
GO
ALTER TABLE [dbo].[brand_image] CHECK CONSTRAINT [FK_brand_image_brand]
GO
ALTER TABLE [dbo].[brand_interaction]  WITH CHECK ADD  CONSTRAINT [FK_brand_interaction_brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([brand_id])
GO
ALTER TABLE [dbo].[brand_interaction] CHECK CONSTRAINT [FK_brand_interaction_brand]
GO
ALTER TABLE [dbo].[brand_interaction]  WITH CHECK ADD  CONSTRAINT [FK_product_interaction_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[brand_interaction] CHECK CONSTRAINT [FK_product_interaction_account]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_comment] FOREIGN KEY([parents_comment_id])
REFERENCES [dbo].[comment] ([comment_id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_comment]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_product_comment_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_product_comment_account]
GO
ALTER TABLE [dbo].[comment_image]  WITH CHECK ADD  CONSTRAINT [FK_comment_image_product_comment] FOREIGN KEY([comment_id])
REFERENCES [dbo].[comment] ([comment_id])
GO
ALTER TABLE [dbo].[comment_image] CHECK CONSTRAINT [FK_comment_image_product_comment]
GO
ALTER TABLE [dbo].[discount_code]  WITH CHECK ADD  CONSTRAINT [FK_discount_code_brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([brand_id])
GO
ALTER TABLE [dbo].[discount_code] CHECK CONSTRAINT [FK_discount_code_brand]
GO
ALTER TABLE [dbo].[invoice]  WITH CHECK ADD  CONSTRAINT [FK_invoice_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[booking] ([booking_id])
GO
ALTER TABLE [dbo].[invoice] CHECK CONSTRAINT [FK_invoice_booking]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([brand_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_brand]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[product_category] ([category_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_category]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_product_type] FOREIGN KEY([product_type_id])
REFERENCES [dbo].[product_type] ([product_type_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_product_type]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_product_unit] FOREIGN KEY([product_unit_id])
REFERENCES [dbo].[product_unit] ([product_unit_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_product_unit]
GO
ALTER TABLE [dbo].[product_comment]  WITH CHECK ADD  CONSTRAINT [FK_product_comment_comment] FOREIGN KEY([comment_id])
REFERENCES [dbo].[comment] ([comment_id])
GO
ALTER TABLE [dbo].[product_comment] CHECK CONSTRAINT [FK_product_comment_comment]
GO
ALTER TABLE [dbo].[product_comment]  WITH CHECK ADD  CONSTRAINT [FK_product_comment_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[product_comment] CHECK CONSTRAINT [FK_product_comment_product]
GO
ALTER TABLE [dbo].[product_image]  WITH CHECK ADD  CONSTRAINT [FK_product_image_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[product_image] CHECK CONSTRAINT [FK_product_image_product]
GO
ALTER TABLE [dbo].[product_interaction]  WITH CHECK ADD  CONSTRAINT [FK_product_interaction_account1] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[product_interaction] CHECK CONSTRAINT [FK_product_interaction_account1]
GO
ALTER TABLE [dbo].[product_interaction]  WITH CHECK ADD  CONSTRAINT [FK_product_interaction_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[product_interaction] CHECK CONSTRAINT [FK_product_interaction_product]
GO
ALTER TABLE [dbo].[service]  WITH CHECK ADD  CONSTRAINT [FK_service_brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([brand_id])
GO
ALTER TABLE [dbo].[service] CHECK CONSTRAINT [FK_service_brand]
GO
ALTER TABLE [dbo].[service]  WITH CHECK ADD  CONSTRAINT [FK_service_service_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[service_category] ([category_id])
GO
ALTER TABLE [dbo].[service] CHECK CONSTRAINT [FK_service_service_category]
GO
ALTER TABLE [dbo].[service_comment]  WITH CHECK ADD  CONSTRAINT [FK_service_comment_booking_service_detail] FOREIGN KEY([booking_detail_id])
REFERENCES [dbo].[booking_service_detail] ([booking_detail_id])
GO
ALTER TABLE [dbo].[service_comment] CHECK CONSTRAINT [FK_service_comment_booking_service_detail]
GO
ALTER TABLE [dbo].[service_comment]  WITH CHECK ADD  CONSTRAINT [FK_service_comment_comment] FOREIGN KEY([comment_id])
REFERENCES [dbo].[comment] ([comment_id])
GO
ALTER TABLE [dbo].[service_comment] CHECK CONSTRAINT [FK_service_comment_comment]
GO
ALTER TABLE [dbo].[service_comment]  WITH CHECK ADD  CONSTRAINT [FK_service_comment_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[service] ([service_id])
GO
ALTER TABLE [dbo].[service_comment] CHECK CONSTRAINT [FK_service_comment_service]
GO
ALTER TABLE [dbo].[service_image]  WITH CHECK ADD  CONSTRAINT [FK_service_image_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[service] ([service_id])
GO
ALTER TABLE [dbo].[service_image] CHECK CONSTRAINT [FK_service_image_service]
GO
ALTER TABLE [dbo].[service_interaction]  WITH CHECK ADD  CONSTRAINT [FK_service_interaction_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[service_interaction] CHECK CONSTRAINT [FK_service_interaction_account]
GO
ALTER TABLE [dbo].[service_interaction]  WITH CHECK ADD  CONSTRAINT [FK_service_interaction_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[service] ([service_id])
GO
ALTER TABLE [dbo].[service_interaction] CHECK CONSTRAINT [FK_service_interaction_service]
GO
USE [master]
GO
