<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>LBrand - Đăng Ký</title>
<link th:href="@{/admin/dist/css/styles.css}"
	href="../../admin/dist/css/styles.css" rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
	crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content" class="mb-4">
			<main>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7">
							<div class="card shadow-lg border-0 rounded-lg mt-5">
								<div class="card-header">
									<h3 class="text-center font-weight-light my-4">LBRAND</h3>
								</div>
								<div class="card-body">
									<form th:action="@{/register}" th:object="${account}"
										id="myform" method="POST">
										<div class="form-row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="small mb-1" for="username">Username</label> <input
														th:field="*{username}" class="form-control py-4"
														id="username" name="username" type="text"
														placeholder="Nhập username" required />
													<th:block th:if="${usererror}">
														<div class="toast" role="alert" aria-live="assertive"
															aria-atomic="true" data-autohide="true" data-delay="6000">
															<div class="toast-body text-danger"
																th:text="${usererror}"></div>
															<button type="button"
																class="ml-2 mb-1 close position-relative"
																data-dismiss="toast" aria-label="Close">
																<span aria-hidden="true"
																	class="position-absolute btn_close">&times;</span>
															</button>
														</div>
													</th:block>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="small mb-1" for="fullName">Họ Tên</label> <input
														th:field="*{fullName}" class="form-control py-4"
														id="fullName" name="fullName" type="text"
														placeholder="Nhập họ tên" required />
												</div>
											</div>
										</div>
										<div class="form-row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="small mb-1" for="phone">SĐT</label> <input
														th:field="*{phone}" class="form-control py-4" id="phone"
														name="phone" type="text" placeholder="Nhập số điện thoại"
														required />
													<th:block th:if="${phoneerror}">
														<div class="toast" role="alert" aria-live="assertive"
															aria-atomic="true" data-autohide="true" data-delay="6000">
															<div class="toast-body text-danger"
																th:text="${phoneerror}"></div>
															<button type="button"
																class="ml-2 mb-1 close position-relative"
																data-dismiss="toast" aria-label="Close">
																<span aria-hidden="true"
																	class="position-absolute btn_close">&times;</span>
															</button>
														</div>
													</th:block>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="small mb-1" for="email">Email</label> <input
														th:field="*{email}" class="form-control py-4" id="email"
														name="email" type="email" aria-describedby="emailHelp"
														placeholder="Nhập email" />
													<th:block th:if="${emailerror}">
														<div class="toast" role="alert" aria-live="assertive"
															aria-atomic="true" data-autohide="true" data-delay="6000">
															<div class="toast-body text-danger"
																th:text="${emailerror}"></div>
															<button type="button"
																class="ml-2 mb-1 close position-relative"
																data-dismiss="toast" aria-label="Close">
																<span aria-hidden="true"
																	class="position-absolute btn_close">&times;</span>
															</button>
														</div>
													</th:block>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="small mb-1" for="address">Địa Chỉ</label> <input
												th:field="*{address}" class="form-control py-4" id="address"
												name="address" type="text" placeholder="Nhập địa chỉ" />
										</div>
										<div class="form-row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="small mb-1" for="password">Mật Khẩu</label> <input
														th:field="*{password}" class="form-control py-4"
														id="password" name="password" type="password"
														placeholder="Nhập password" required />
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="small mb-1" for="password_again">Xác
														Nhận Mật Khẩu</label> <input class="form-control py-4"
														name="password_again" id="password_again" type="password"
														placeholder="Nhập lại password" required />
												</div>
											</div>
										</div>
										<div class="form-group mt-4 mb-0">
											<button type="submit" class="btn btn-dark btn-block">Tạo
												Tài Khoản</button>
										</div>
									</form>
								</div>
								<div class="card-footer text-center">
									<div class="small">
										<a href="/login">Đã có tài khoản? Mời đăng nhập</a>
									</div>
								</div>
							</div>
						</div> 
					</div>
				</div>
			</main>
		</div>
		<div id="layoutAuthentication_footer">
			<footer class="py-4 bg-dark mt-auto">
				<div class="container-fluid">
					<div
						class="d-flex align-items-center justify-content-between small">
						<div class="text-white">Copyright &copy; LBRAND 2021</div>
						<div>
							<a href="#" class="text-white">Privacy Policy</a> &middot; <a
								href="#" class="text-white">Terms &amp; Conditions</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
	crossorigin="anonymous"></script>
<script th:src="@{/admin/dist/js/scripts.js}"
	src="../../admin/dist/js/scripts.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>

<script th:src="@{/web/assets/js/vaild-account.js}"></script>
</html>