<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!-- HEAD FRAGMENT GET FROM ADMIN LAYOUT TEMPLATE...DO NOT CHANGE -->
<head>
<th:block th:replace="/fragments/admin-fragments::admin-head-fragment"></th:block>
<title>LBrand - Brand Admin - Quản Lý Thương Hiệu</title>
</head>
<body class="sb-nav-fixed">
	<!-- HEADER FRAGMENT GET FROM ADMIN LAYOUT TEMPLATE...DO NOT CHANGE -->
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark"
		th:replace="/fragments/admin-fragments::admin-header-fragment"></nav>

	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<!-- MENU FRAGMENT GET FROM ADMIN LAYOUT TEMPLATE...DO NOT CHANGE -->
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion"
				th:replace="/fragments/brand-admin-menu::brand-admin-menu-fragment"></nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<!-- MAIN CONTENT - EDIT CONTENT HEAR -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<th:block th:if="${notification}" )>
								<div class="toast toast-absolute" role="alert"
									aria-live="assertive" aria-atomic="true" data-delay="3000">
									<div class="toast-header">
										<strong class="mr-auto">Thông báo</strong>
										<button type="button" class="ml-2 mb-1 close"
											data-dismiss="toast" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="toast-body" th:text="${notification}"></div>
								</div>
							</th:block>
							<ol class="breadcrumb mb-4">
								<li class="breadcrumb-item"><a href="/brand-admin/dashboard">Dashboard</a></li>
								<li class="breadcrumb-item active">Cập nhật thương hiệu</li>
							</ol>
							<div class="card mb-4 px-4 py-3">
								<form th:method="POST" th:object="${brandForm}"
									th:action="@{/brand-admin/brand/edit}" enctype="multipart/form-data">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Tên thương hiệu</label> <input type="text"
													th:field="*{brandName}" class="form-control"
													name="brandName" id="brandName" required>
											</div>
											<div class="form-group">
												<label>Loại hình dịch vụ</label> <select
													name="serviceTypeId" th:field="*{serviceTypeId}"
													class="form-control" required>
													<th:block th:each="item:${listSeviceType}">
														<option th:value="${item.serviceTypeId}"
															th:text="${item.serviceTypeName}"></option>

													</th:block>
												</select>
											</div>
											<div class="row">
												<div class="col-sm-6">
													<div class="form-group">
														<label>Giờ mở cửa</label> <input type="time"
															class="form-control" th:field="*{openTime}"
															name="openTime" id="username" required>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group">
														<label>Giờ đóng cửa</label> <input type="time"
															th:field="*{closeTime}" class="form-control"
															name="closeTime" id="closeTime" required>
													</div>
												</div>
											</div>


											<div class="form-group">
												<label>Địa chỉ</label> <input type="text"
													th:field="*{address}" class="form-control" name="address"
													id="Address" required>
											</div>

											<div class="row">
												<div class="col-sm-6">
													<div class="form-group">
														<label>Kinh độ</label> <input type="number"
															class="form-control" th:field="*{positionLng}"
															name="positionLng" id="positionLng" step="0.000000001">
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group">
														<label>Vĩ độ</label> <input type="number"
															th:field="*{positionLat}" class="form-control"
															name="positionLat" id="positionLat" step="0.000000001">
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6">

											<div class="form-group">
												<label>Ảnh đại diện thương hiệu</label> <img
													id="previewImage" th:src="@{/} + *{avatar}" class="img-preview-100 rounded">
											</div>
											<div class="form-group text-center">
												<label for="fileImage" class="btn btn-dark w-100">Chọn
													ảnh</label> <input type="file" id="fileImage"
													class="img-circle profile-avatar" name="fileImage"
													style="visibility: hidden; width: 12px"
													accept="image/png, image/jpeg"
													th:onchange="previewImageBefore(event)" />
											</div>
										</div>


										<!-- <input type="file"
												th:field="*{avatar}" class="file-uploader" name="Photo"
												id="Photo"> -->

									</div>


									<div class="row">
										<div class="col-md-4 col-sm-6">
											<div class="form-group">
												<label>Số điện thoại</label> <input type="text"
													th:field="*{phone}" class="form-control" name="phone"
													id="Phone" required>
												<p th:if="${phoneerror}"
													class="error" th:text="${phoneerror}" />
											</div>
										</div>
										<div class="col-md-4 col-sm-6">
											<div class="form-group">
												<label>Hotline</label> <input type="text" th:field="*{tel}"
													class="form-control" name="tel" id="tel">
												<p th:if="${telerror}"
													class="error" th:text="${telerror}" />
											</div>
										</div>

										<div class="col-md-4 col-sm-6">
											<div class="form-group">
												<label>Trạng thái</label><select name="status"
													th:field="*{status}" class="form-control" required>

													<option th:value="1"
														th:selected="${status != null && status == 1}">Hiển
														thị</option>
													<option th:value="0"
														th:selected="${status != null && status == 0}">Ẩn</option>


												</select>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="info">Mô tả thương hiệu</label>
												<textarea class="form-control" id="info" name="info"
													th:field="*{info}" th:value="*{info}" rows="10"></textarea>
												<p th:if="${#fields.hasErrors('info')}"
													th:errorclass="error" th:errors="*{info}" />
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<a th:href="@{/brand-admin/home}"
												class="btn btn-outline-dark"> Về trang chủ </a>
										</div>
										<div class="col-md-6 text-right">
											<button type="submit" class="btn btn-outline-success">Cập nhật</button>
										</div>

									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- END MAIN CONTENT -->
			</main>


			<!-- FOOTER FRAGMENT GET FROM ADMIN LAYOUT TEMPLATE...DO NOT CHANGE -->
			<footer class="py-4 bg-light mt-auto"
				th:replace="/fragments/admin-fragments::admin-footer-fragment"></footer>
		</div>
	</div>
</body>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/admin/dist/js/scripts.js/>"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="/admin/dist/assets/demo/datatables-demo.js/>"></script>
<!-- <script src="/admin/js/brand-img.js"></script> -->
<script type="text/javascript">
	$("#avatar").change(function() {
		filename = this.files[0].name
		console.log(filename);
	});
</script>

<script src="/ckfinder/static/samples/js/sf.js"></script>
<script src="/ckfinder/static/samples/js/tree-a.js"></script>
<script src="https://cdn.ckeditor.com/4.12.1/standard-all/ckeditor.js"></script>
<script src="/ckfinder/static/ckfinder.js"></script>
<script>
	//Note: in this sample we use CKEditor with two extra plugins:
	// - uploadimage to support pasting and dragging images,
	// - image2 (instead of image) to provide images with captions.
	// Additionally, the CSS style for the editing area has been slightly modified to provide responsive images during editing.
	// All these modifications are not required by CKFinder, they just provide better user experience.
	if (typeof CKEDITOR !== 'undefined') {
		CKEDITOR.disableAutoInline = true;
		CKEDITOR.addCss('img {max-width:100%; height: auto;}');
		CKEDITOR.config.height = '600px';
		var editor = CKEDITOR
				.replace(
						'info',
						{
							filebrowserBrowseUrl : '/ckfinder/static/ckfinder.html',
							filebrowserImageBrowseUrl : '/ckfinder/static/ckfinder.html?type=Images',
							filebrowserFlashBrowseUrl : '/ckfinder/static/ckfinder.html?type=Flash',
							filebrowserUploadUrl : '/ckfinder/connector/java/connector.java?command=QuickUpload&type=Files',
							filebrowserImageUploadUrl : '/ckfinder/connector/java/connector.java?command=QuickUpload&type=Images',
							filebrowserFlashUploadUrl : '/ckfinder/connector/java/connector.java?command=QuickUpload&type=Flash'
						});
		CKFinder.setupCKEditor(editor);
	} else {
		document.getElementById('info').innerHTML = '<div class="tip-a tip-a-alert">This sample requires working Internet connection to load CKEditor 4 from CDN.</div>'
	}
</script>

</html>